<div class="container-fluid divCarousel">     
    <ngb-carousel [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <img [src]="image.src" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <p>{{ image.short }}</p>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
          <!-- <mat-icon>launch</mat-icon>
          
          <i class="material-icons">home</i> -->
          <a href="{{image.link}}"> <mat-icon class="icon-display">link</mat-icon>To the project</a>
        </div>
      </ng-template>
    </ngb-carousel>    
</div>