div{
    /* border: 10px  black  solid; */
    display:flex;
    flex-direction: column;
    justify-content: center center;
    justify-items: center;
    padding: 5px;
}

h1, h2{
    color: rgb(14, 4, 70);
    margin: auto;
    padding: 5px;
}
.my-component {
    font-family: 'MyFont';
}